@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
html,body{
   background-color: #4f5356;
   min-height: 100vh;
}

header{
    background-image: linear-gradient(to bottom, #663b94,#142a9c);
    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;
    font-size: 8vh;
    
}
header h1{
    font-variant: small-caps;
    color: white;
    font-family: "Play", sans-serif;
    
}

header p{
    color: white;
    font-family: "Play", sans-serif;
    padding-bottom: 50px;
    font-size: 3vh;
   
}
header a, footer a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
header a:hover, footer a:hover {
    text-decoration: underline;
}

section{
    font-family: "Texturina", serif;
    padding-bottom: 25px;
    margin-left: 15px;
    padding-left: 30px;
    font-size: 2.5vw;
}

section p{
    color: white;
}


section.normal{
    margin-top: 20px;
    
}
section#img1{
    background-color: rgba(0, 0, 0, 0.255);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.251);
    background-image: url('imagens/imagem03.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin-left: 0px;
}


section#img2{
    background-color: rgba(0, 0, 0, 0.255);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.251);
    background-image: url('imagens/imagem02.jpg');
    background-position: bottom left;
    background-size: cover;
    background-attachment: fixed;
    margin-left: 0px;
    
}

footer{
     background-color: black;
    text-align: center;
    color: white;
    padding-top: 5px;
}
